<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<<<<<<< HEAD
  <link rel="stylesheet" href="/assets/css/style.css">
=======
  <link rel="stylesheet" href="/css/main.min.css">
  <script src="/js/script.min.js"></script>
>>>>>>> caa575b267faea91fe3c953d40b2d45178fd6e93

</head>

<body>
  <div class="garden">
    <div class="ball"></div>
  </div>
  <div>
      <pre class="output"></pre>
      <pre class="initial"></pre>
  </div>
  <div>
    <button class="init-button" data-init>Init</button>
  </div>
  


<<<<<<< HEAD
  <script src="/assets/js/script.js"></script>
=======
>>>>>>> caa575b267faea91fe3c953d40b2d45178fd6e93
</body>

</html>